@use '../../styles/abstracts/variables' as var;

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 736px;
  min-height: 72px;
  padding: 0 1em;
  gap: 12px;
  border-radius: 8px;
  background-color: var.$gray-500;
  color: var.$gray-100;

  .check_container {
    position: relative;
    
    .checkbox {
      position: relative;
      top: 1px;
      width: 18px;
      height: 18px;
      border: 2px solid var.$blue;
      border-radius: 50px;
      cursor: pointer;
      display: block;
      transition: all 0.3s linear;
      
      &::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 20%;
        width: 5px;
        height: 11px;
        opacity: 0;
        transform: rotate(45deg) scale(0) translate(-50%, -50%);
        border-right: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        transition: all 0.3s linear;
      }
    }
  
    .checkbox-input:checked ~ .checkbox::after {
      opacity: 1;
      transform: rotate(50deg) scale(1) translate(20%, -25%);
    }
  
    .checkbox-input:checked ~ .checkbox {
      background: var.$purple-dark;
      border: none;
    }
  }

  .task-text {
    width: 620px;
    font-size: 14px;

    &--done {
      text-decoration: line-through;
    }
  }

  .actions-container {
    font-size: 1.3rem;
  }
}

.hidden {
  display: none !important;
}






