@use '../../styles/abstracts/variables' as var;

.form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 740px) {
    width: 95%;
  }

  &__input {
    height: 54px;
    width: 85%;
    border: none;
    border-radius: 8px;
    background-color: var.$gray-500;
    color: var.$gray-100;
    padding-left: 1em;

    &:focus {
      outline: solid var.$purple-dark;
    }
  }

  &__button {
    width: 14%;
    height: 52px;
    border: none;
    border-radius: 8px;
    background-color: var.$blue-dark;
    color: var.$gray-100;
    margin-left: 0.4em;
    cursor: pointer;

    &:hover {
      background-color: var.$blue;
    }
  }

  .error-text {
    position: absolute;
    display: flex;
    align-items: center;
    color: var.$danger;
    top: 0;
    right: 40%;
  }


}