@use '../../styles/abstracts/variables' as var;

.filter-container {
  display: flex;
  width: 100%;
  margin: 1em 0;
  justify-content: space-between;

  @media (max-width: 740px) {
    width: 95%;
  }

  .link{
    color: var.$blue;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;

    @media (max-width: 740px) {
      font-size: 12px;
    }

    &--active {
      color: var.$purple-dark;
    }
  }
  
  .tasks-count {
    display: inline-block;
    width: 24px;
    height: 19px;
    text-align: center;
    background-color: var.$gray-400;
    color: var.$gray-100;
    border-radius: 50px;

    @media (max-width: 740px) {
      width: 22px;
      height: 17px;
    }
  }

}